body {
  background-color: bisque;
  font-family: 'Poppins', sans-serif;
}

.container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 80%;
  overflow: hidden;
  color: #545862;
}

.container h1 {
  font-size: 18px;
  font-weight: 600;
  padding: 1rem 0;
  line-height: 1.6;
  margin: 0;
  width: 100%;
  height: 1.8em;
  border-bottom: solid 1px rgba(0, 0, 0, 1);
}

.todo-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 1em;
  margin: 0;
  color: #000;
}

.task-item {
  width: 100%;
  height: 3em;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 20px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
